@import 'reset/variables' , 'reset/reset' , 'reset/mixins' , 'reset/keyframes';

.content-header {
  width: 60%;
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 1;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  .menu-antetitle {
    margin-bottom: .2em;
  }
  .menu-subtitle {
    width: 90%;
    text-align: end;
  }
}

.global-page {
  max-height: 90vh;
  background-image: url(../assets/11564004_95701.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  .center-content {
    position: relative;
    max-height: 95vh;
    height: 90vh;
    max-width: 100%;
    .menu-sections {
      overflow: auto;
      font-family: 'Source Serif Pro', serif;
      position: absolute;
      max-height: 50vh;
      top: 22%;
      width: 100%;
      .section {
        width: calc(100% - 100px);
        margin: auto;
        font-weight: 400;
        font-size: 14px;
        .section-name {
          text-align: center;
          margin: 1em 0;
          font-weight: 600;
          font-size: 18px;
        }
        .section-list {
          margin-bottom: 8px;
        }
        &.appetizers {
          .section-list {
            .section-sub-list {
              list-style: square;
              margin-left: 2.5em ;
            }

            &::before {
              content: '✓';
              margin-right: 4px;
            }
            &.name {
              &::before {
                content: none;
              }
              font-size: 10px;
            }
          }
        }
        &.main-courses {
          .section-list {
            margin-left: 15px;
            list-style: numeric;
          }
        }
        &.deserts {
          .section-list {
            margin-left: 15px;
            list-style: numeric;
          }
        }
        &.drinks {
          .section-list {
            &.name {
              font-weight: 400;
              font-size: 14px;
            }
            &.list {
              margin-left: 15px;
              list-style:disc;
            }
          }
          .litle-note {
            margin: 2em 0;
          }
        }

      }
    }
  }
}

.merry-xmas {
  .final-text {
    width: 60%;
    position: absolute;
    bottom: 10%;
    right: 40%;
    z-index: 1;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
}
//movil
@media only screen and (max-width: 480px) {
  .global-page {
    .center-content {
      .section {
        &.appetizers {}
        &.main-courses {}
        &.deserts {}
        &.drinks {}
      }
      .little-note {}
    }
  }
}

//tablet
@media only screen and (min-width: 480px) and (max-width: 960px) {
  .global-page {
    .center-content {
      .section {
        &.appetizers {}
        &.main-courses {}
        &.deserts {}
        &.drinks {}
      }
      .little-note {}
    }
  }
}

